


body {
    margin: 0;
    padding: 0;
}

.leftSide {
    width: 40vw;
    margin-left: 4vw;
    top: 2vw;
    position:fixed;
    bottom: 1vw;
    display: flex;
    flex-direction:column;
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }
  .leftSide {
    position: relative;

        width: auto;

        height: auto;
        margin: 0 10px 10px;
  }
  #map{
          display: none;
  }
  .projectList {

    height: auto;
    max-height: none;
  }
  body .projectList li {
    height: 40px
  }
  body .projectList li a p {
      line-height: 39px;

  }
  body .rightSide {

        position: absolute;
            left: 10px;
            width: auto;;
            right: 70px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 10px;

            float: none;
  }
  body .rightSide::before{
    display: none;
  }
  body .timelineContainer {
      position: absolute;
          right:10px;
            float: none;
  }
}

.projectList::-webkit-scrollbar {
    width: 1em;
    padding-left: 1em;
}

.projectList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #6e6e6e;

}

.projectList::-webkit-scrollbar-thumb {
  background-color: #3a3939;
  outline: 1px solid #3a3939;
}

.logo{
  position: absolute;
  width: 140px;
  height: 140px;
  z-index: 11;
}

#map {
    margin: 0;
    padding: 0;
    width: inherit;
    height: 50%;
    position: relative;
    z-index: 10;
    background-color: white;
    flex-grow: 1;
}

.projectList {
    margin: 0;
    padding: 0;
    max-height: 50%;
    width: inherit;
    flex-grow: 0;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    z-index: 11;
    background-color: #3a3939;
}

.projectList li {
    background-color: #cf0039;
    height: 60px;
    border-top: 0.5px solid #a3002d;
    box-sizing: border-box;

    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.projectList li:hover {
    background-color: #f08900;
}

.projectList li a {
    color: white;
    float: left;
    text-decoration: none;
    height: inherit;
    width: 100%;
    font-family: "Calibri", sans-serif;
    font-size: 1.8em;
}

.rightSide {
    width: 40vw;
    background-color: #3a3939;
    margin-left: 46vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    float: left;
    position: relative;
}
.rightSide::before{
  content: '';
  position: fixed;
  width: 100%;
  background: white;
  display: block;
  height: 3vw;
  margin-top: -3vw;
  margin-left: -3vw;
  z-index: 1000;
}

.rightSide .header {

    background-position: center;
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding: 0;

}

.projectList li a img {
    height: inherit;
    width: 60px;
    float: left;
    margin-bottom: -1px;
}



.projectList li a p {
    float: left;
    padding-left: 5vw;
    margin-top: auto;
    line-height: 59px;

}

.imgWrapper {
    width:inherit;
    height: 20vh;
    overflow: hidden;
    position: relative;
}

.choiceBoxContainer{
    padding: 0;
    margin: auto;
    margin-top: 15px;
    width: 100%;
}
.choiceBoxContainer::after {
  content: '';
  display: table;
  clear: both;
}

.choiceBoxContainer>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 47%;
    float: left;
      margin-bottom: 20px;
}
.choiceBoxContainer>ul:nth-child(2n+1){
  margin-right: 6%;

}

@media (max-width: 1300px) {

  .choiceBoxContainer>ul{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
.choiceTitle {
    text-align: center;
    background-color: #272626;
    display: block;
        font-size: 16px;
        line-height: 200%;
        margin: 0;
        padding: 7px;
        box-sizing: border-box;
        color:white;
}

.contentWrapper {
    width: inherit;
    padding: 2vw;
    box-sizing: border-box;
    font-family: 'calibri', sans-serif;
}

h2 {
    font-family:'Antwerpen',sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2.5em;
    font-weight: normal;
}
h3 {
    font-family:'Antwerpen',sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
      margin-top: 1em;
}
.contentWrapper p {
    color: white;
    font-size: 1em;
    width: 100%;
    margin: 0;
    margin-top: 15px;
      margin-bottom: 1.5em;

}
.choicePick {
    height: 37.5px;
    line-height: 37.5px;
    text-align: center;
    background-color: #cf0039;
    box-sizing: border-box;
    border-top: 0.5px solid #a3002d;

    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
}

.choicePick label{
    text-decoration: none;
    color: white;
    height: inherit;
    float: left;
    width: 100%;

}

.choicePick input
{
    display: none;
}

.choicePick i{

  position: absolute;
    display: none;
    margin: 5px;
    left: 5%;
    top:0;
    bottom:0;
    font-size: 25px;
    color: #f08900;
}
.choicePick input:checked+i{
  display: inline-block;
}

.choicePick:hover label {
    background-color: #f08900;
}
.choicePick:hover i {
    color: #cf0039;
}

.feedbackInput {
    width: 100%;
    margin-top: 10px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    padding: 10px;
}
::-webkit-input-placeholder {
color: slategray;
font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
color: slategray;
font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
color: slategray;
font-style: italic;
}

:-ms-input-placeholder {
color: slategray;
font-style: italic;
}

.stuurIn {
    float: right;
    background: #cf0039;
}
.stuurIn {
    float: right;
    background: #cf0039;
}

.stuurIn:hover {
    background: #f08900;
}
.stuurIn+*{ clear: both;}
button {

      margin-top: 15px;
      border: 0px;
      padding: 15px 30px;
      text-decoration: none;

      -o-transition: .3s;
      -ms-transition: .3s;
      -moz-transition: .3s;
      -webkit-transition: .3s;
      transition: .3s;

      color: white;
      font-size: 1em;
}
.comments .bodytext{
  margin-bottom:0 ;
}
.comments .bodytext+p{
  margin-top: 0;
  color: #acaaaa;
}
.comments .highlight {
  color:#f08900;
}

.morecomments {
    margin: 15px auto 0 auto;
    background: #f08900;
}

.morecomments:hover {
    background: #cf0039;
}
.center{
  text-align: center;
}
/*------------------------------------------*/
.timelineContainer {

    margin-top: 2vw;
    font-family: 'calibri', sans-serif;
    line-height: 1.5em;
    width: 70px;
    float: left;
    position: fixed;
    left: 86vw;
}


.timeline {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.huidigeFase {
    height: 180px;
    box-sizing: border-box;
    padding-top: 50px;
    margin: 0;
    width: 100%;
    background-color: #f08900;
    text-align: center;
}

.huidigeFase>p {
    color: white;
    font-size: 14px;
}

.timeline>li>p {
    margin: 0;
}

.faseHead {
    font-size: 16px;
    line-height: 16px;
}

.fase {
    height: 70px;
    background-color: #cf0039;
    text-align: center;
    box-sizing: border-box;
    border-top: 0.5px solid #a3002d;

    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.faseHead:first-child {
    margin-top: 15px;
}

.fase:hover {
    background-color: #f08900;
}

.fase>a {
    text-decoration: none;
    display: inline-block;
    height: inherit;
    width: 100%;
    box-sizing: border-box;

}
.fase.playstore {
  margin-top: 70px;
  background-color: #3a3939;
}

.projectList .selectedProject {
    background-color: #f08900;
}
