body {
    background: url(../images/admin_images/AntwerpenBNW.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    -moz- background-size: cover;
    -webkit- background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Calibri", sans-serif;
}

header {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.navbar {
    height: 40px;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 1;
}


.navbar ul li {
    list-style: none;
    float: left;
    position: relative;
    display: block;    
    background: rgb(100, 100, 100);

}

.navbar ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.headerContent {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-left: solid white 1px;
}

/*dropdownmenu*/
.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #7FCAD3;
}

.navbar ul li:hover > ul {
    display: block;
}

.navbar ul ul li a:hover:after {
    top: 0;
    left: 0;
    border-width: 0;
}

.navbar ul ul li {
    float: none;
    border-top: 1px solid white;
    position: relative;
}

.navbar ul li a:hover {
    background: #f08900;
}

/*
.navbar ul li a:hover:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0,0,0,0);
	border-top-color: #0F6B68;
	border-width: 15px;
	margin-left: -15px;
}
*/

.active {
    position: relative;
    background: #f08900;
}

.navbar ul li .active:hover {
    background:#f08900;
}

.navbar ul li .active:hover:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0,0,0,0);
	border-top-color: #f08900;
	border-width: 15px;
	margin-left: -15px;
}

.active:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(125, 125, 125, 0);
	border-top-color: #f08900;
	border-width: 15px;
	margin-left: -15px;
    z-index: 1;
}

.variable_content {
    width: 100%;
    height: auto;
}

.navbar ul .usernameLi {
    z-index: 10;
    float: right;
    background: #f08900;
}

.navbar ul .usernameLi a:hover {
    background: #f08900;
}

.pageContent {
    width: 1024px;
    position: relative;
    margin: 0 auto;
    top: 0;
    background: rgba(211, 211, 211, 0.5);
    padding: 10px 0;
}

.project {
    vertical-align: middle;
    margin-left: 5%;
    margin-top: 40px;
    width: 90%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    background-color: rgb(57, 57, 57);
}

.project>*{
    height: inherit;
    float:left;
}

.watched {
    text-decoration: none;
    font-family: untitled-font-1;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
    width: 50px;
    color: white;
    font-size: 50px;
    z-index: 1;
    cursor: default;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.watched.hide {
    color: rgba(255, 255, 255, 0);
}

.projectnaam {
    width: 65%
}



.projectnaam a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-size: 40px;
    display: block;
    width: 100%;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.projectnaam a:hover {
    color: #f08900;
    
}

.icons {
    font-family: untitled-font-1;
    float: right;
    padding-right: 20px;
    padding-left: 10px;
    border-left: 1px solid white;
    font-size: 40px;
}

.icons a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.icons a:hover {
    color: #f08900;
}


/* alle forms (project toevoegen en project updaten) */


.title {
    margin: 0;
    height: 40px;
    background-color: rgb(100, 100, 100);
    color: white;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}


.title_add.fase1 {
    margin-top: 50px;
}


#add_project_form,
#edit_project_form,
.phases_and_events,
.add_phase_form,
.edit_phase_form,
.add_event_form,
.edit_event_form,
.add_question_form {
    margin-left: 5%;
    margin-top: 40px;
    width: 84%;
    margin-bottom: 20px;
    background-color: rgb(57, 57, 57);
    padding: 3%;
    color: #efefef;
}

#add_project_form div,
#edit_project_form div,
.add_phase_form div,
.edit_phase_form div,
.add_event_form div,
.edit_event_form div,
.add_question_form div {
    margin-bottom: 10px;
}

#add_project_form div label,
#edit_project_form div label,
.add_phase_form label,
.edit_phase_form label,
.add_event_form label,
.edit_event_form label,
.add_question_form label {
    display: block;
    width: 150px;
    float:left;
    margin-right: 15px;
    font-weight: bold;
}

#add_project_form div label[for="place-input"],
#edit_project_form div label[for="place-input"]{
    width: 600px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#add_project_form div input, #add_project_form div textarea,
#edit_project_form div input, #edit_project_form div textarea,
.add_phase_form div input, .add_phase_form div textarea,
.edit_phase_form input, .edit_phase_form textarea,
.add_event_form input, .add_event_form textarea,
.edit_event_form input, .edit_event_form textarea,
.add_question_form input, .add_question_form textarea {
    width: 300px;
    font-family: inherit;
    font-size: inherit;
    padding: 2px;
    /*
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    */
}

#add_project_form div textarea,
#edit_project_form div textarea,
.add_phase_form div textarea,
.edit_phase_form textarea,
.add_event_form textarea,
.edit_event_form textarea,
.add_question_form textarea {
    height: 100px;
    max-width: 500px;
    max-height: 250px;
}

#add_project_form div input[type="checkbox"],
#edit_project_form div input[type="checkbox"] {
    width: auto;
}

input[readonly] {
    background-color: transparent;
    border: none;
    color: inherit;
}

input[type="time"] {
    width: 80px;
}

.add_button button,
.edit_button button,
.add_phase_form button,
.edit_phase_form button,
.add_event_form button,
.edit_event_form button,
.add_question_form button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: #E40046;
    display: inline-block;
    border: none;
    margin-top: 50px;
    
    cursor: pointer;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.add_button button:hover,
.edit_button button:hover,
.add_phase_form button:hover,
.edit_phase_form button:hover,
.add_event_form button:hover,
.edit_event_form button:hover,
.add_question_form button:hover {
    background-color: #f08900;
}




.events, .add_phases_events {
    margin-top: 50px;
}

.phases div div, .events div div {
    width: 200px;
    float: left;
}

.add_question {
    margin-top: 50px;
}

.phases div a, .events div a,
.add_phases_events a,
.add_question a {
    color: inherit;
}

.phases div a:hover, .events div a:hover,
.add_phases_events a:hover,
.add_question a:hover {
    color: #f08900;
}


.add_phases_events a {
    background-color: #cf0039;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    
}
.add_phases_events a:hover {
    background-color: #f08900;
    color: inherit;
}



/* results page / answers page */
.container_stat {
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    display: inline-block;
}

.statContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(57, 57, 57);
    padding: 30px 0;
}

.statContainer>h3 {
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
}

.insideStatContainer {    
    background-color: rgb(100, 100, 100);
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.insideStatContainer::after{
    content: "";
    display: table;
    clear: both;
}

.insideStatContainer>div::after {
    content: "";
    display: table;
    clear: both;
}

.insideStatContainer>p {
    color: white;
    font-family: sans-serif;
    text-align-last: center;
    padding-top: 20px;
}

.insideStatContainer>div {
    border-bottom: 1px solid white;
    box-sizing: border-box;
}


.insideStatContainer>div>h4 {
    font-family: sans-serif;
    color: white;
    width: 50%;
    margin: 0;
}

.h4left {
    float: left;
}
.h4right {
    float: right;
    text-align: right;
}

.h4Left {
    float: left;
}

.stemmen {
    font-family: sans-serif;
    color: white;
    margin-top: 10px;
    width: 50%;
}

.leftStemmen {
    float: left;
    text-align: left;
}

.rightStemmen {
    float: right;
    text-align-last: right;
    
    
}

.procent {
    display: none;
}

.statBar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #f08900;
    border: 0px;
}

.statBar>div{
    border: 0px;
    display: block;
    height: 100%;
    background-color: #e40046;
    width: 80%;
    z-index: 10;
}


/* comments overview per project */












footer {
    background-color: rgb(57, 57, 57);
    color: inherit;
    margin-top: 50px;
    color: #efefef;
    text-align: center;
    padding: 5px;
    font-style: italic;
}




/*  not logged in */

.pageContent.notLoggedIn {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
}

.notLoggedIn + footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
}



/* CLEARFIX */



nav ul::before, nav ul::after,
#add_project_form div::before, #add_project_form div::after,
#edit_project_form div::before, #edit_project_form div::after,
.add_phase_form div::before, .add_phase_form div::after,
.edit_phase_form div::before, .edit_phase_form div::after,
.add_event_form::before, .add_event_form::after,
.edit_event_form div::before, .edit_event_form::after,
.add_question_form div::before, .add_question_form div::after,
.phases div::before, .phases div::after,
.events div::before, .events div::after {
    line-height: 0;
    content: "";
    display: table;
}

nav ul::after,
#add_project_form div::after,
#edit_project_form div::after,
.add_phase_form div::after,
.edit_phase_form div::after,
.add_event_form div::after,
.edit_event_form div::after,
.add_question_form div::after,
.phases div::after,
.events div::after {
    clear: both;
}






