body {
    font-family: "Verdana";
    color: #212121;

}





/* algemeen */


.titelProject, .beschrijvingProject, .fotoProject, .startdatumProject, .zichtbaarProject, .adminProject, .naamFase1, .beschrijvingFase1, .fotoFase1, .einddatumFase1 {

    clear: both;
    
}



form {

    margin: 0 auto;
    background-color: rgb(57, 57, 57);
    padding: 20px;
    width: 380px;
    color: #efefef;
    
}



form label{
    
    float:left; 
    text-align:right; 
    margin-right: 15px;

}




a {
    
    text-decoration: none;
    display:block; 
    background-color: rgb(175, 0, 61);
    font-weight: bold;
    color: #f0f0f0;
    
}




a:hover, a:active {
    
    background-color: #f7a100 !important;

}




input {
    
    margin-bottom: 10px;
    
}













/* LOGINPAGINA  */

.login_title, .login_subtitle, form#formulier_login, .title_add_project, .title_add_fase1  {
    text-align: center;
    
}


.login_title {

    margin-top: 75px;
    
}



form#formulier_login {
    
    margin-top: 60px;
    
}



a.button_login_form {
 
    padding-top: 10px;
    padding-bottom: 10px;
    
}


form#formulier_login label {
    
    width:120px;
    
}




.email {
    margin-bottom: 10px;
    
}


.wachtwoord {
     margin-bottom: 15px;   
}













/* PROJECT TOEVOEGEN PAGINA */

.form_project_toevoegen {

    width: 600px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ddd;
    
}



form#formulier_add_project label, form#formulier_add_fase1 label {
    
    width:150px;
    
}


.container_add_project {

    margin-bottom: 50px;
    
}





.title_add_project, .title_add_fase1 {
 
    margin-bottom: 15px;
    
}




a.button-bestand-selecteren {

    background-color: rgb(216, 216, 216);
    display: inline;
    font-weight: bold;
    color: #212121;
    width: 145px;
    font-size: 0.8em;
    padding: 10px 15px;
    margin-right: 0;
   
}



a.button-toevoegen-project {
    
    width: 110px;
    padding: 10px 20px;
    margin-left: 360px;
    margin-top: 50px;

    
}




.fotoProject, .fotoFase1 {
 
    margin-top: 5px;
    margin-bottom: 17px;
    
}



.adminNaamProject {

    display: inline;
    
}









/*    OVERVIEW PROJECTS   */

.container_overview_projects {
    
    width: 600px;
    margin: 0 auto;
    background-color: rgb(175, 0, 61);
    margin-top: 15px;
    
}





/*.container_overview_projects a {
    
    margin: 0;
    padding: 15px 10px;
    margin-left: 37px;
    width: 100px;
    
}*/




.container_overview_projects div {
    
    border: 2px solid black;
    border-bottom: 0;
    padding: 20px;
    padding-bottom: 17px;
    
}


.container_overview_projects div:hover {
    
    background-color: #f7a100;
    
}




.container_overview_projects div:last-child {

    border-bottom: 2px solid black;
    
}



.container_overview_projects div.icons_right {
    
    border: none;
    margin: 0;
    padding: 0;
}



a img.eye {

    width: 25px;
    
}


.a_eye, .title_overview {
    
    float:left;
    
}





a.a_overview {
    
    background-color: transparent;
    
}


a.a_overview:hover {
    
    background-color: transparent;
    
}


.title_overview {
    
    margin-left: 15px;
    
}


.icons_right {
    
    float:right;
    
}



.icons_right a img {

    width: 20px;
    
}






.icons_right a {
    float: left;
    margin-left: 5px;
}






/* CLEARFIX */

.container_overview_projects div::before,
.container_overview_projects div::after,
.icons_right::before,
.icons_right::after{
    display: table;
    line-height: 0;
    content: "";
}

.container_overview_projects div::after,
.icons_right::after {
    clear: both;
}









