body {
    background: url(../Img/AntwerpenBNW.png) no-repeat center center;
    background-size: cover;
    -moz- background-size: cover;
    -webkit- background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.header {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.navbar {
    height: 40px;
    width: auto;
    margin: 0;
    padding: 0;
}


.navbar ul li {
    list-style: none;
    float: left;
    position: relative;
    display: block;    
    background: rgb(100, 100, 100);

}

.navbar ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.headerContent {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 10px 20px;
    border-left: solid white 1px;
}

/*dropdownmenu*/
.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #7FCAD3;
}

.navbar ul li:hover > ul {
    display: block;
}

.navbar ul ul li a:hover:after {
    top: 0;
    left: 0;
    border-width: 0;
}

.navbar ul ul li {
    float: none;
    border-top: 1px solid white;
    position: relative;
}

.navbar ul li a:hover {
    background: #f08900;
}

/*
.navbar ul li a:hover:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0,0,0,0);
	border-top-color: #0F6B68;
	border-width: 15px;
	margin-left: -15px;
}
*/

.active {
    position: relative;
    background: #f08900;
}

.navbar ul li .active:hover {
    background:#f08900;
}

.navbar ul li .active:hover:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0,0,0,0);
	border-top-color: #f08900;
	border-width: 15px;
	margin-left: -15px;
}

.active:after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(125, 125, 125, 0);
	border-top-color: #f08900;
	border-width: 15px;
	margin-left: -15px;
}

.page {
    width: 100%;
    height: auto;
}

.navbar ul .usernameLi {
    z-index: 10;
    float: right;
    background: #f08900;
}

.navbar ul .usernameLi a:hover {
    background: #f08900;
}

.pageContent {
    width: 1024px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    top: 0;
}

.pageContentBG {
    width: 1024px;
    height: 800px;
    position: absolute;
    background: lightgray;
    z-index: -10;
    opacity: 0.5;
    top: 0;
    
}

.project {
    position: relative;
    vertical-align: middle;
    left: 5%;
    top: 40px;
    width: 90%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    background-color: rgb(57, 57, 57);
}

.project>*{
    height: inherit;
    float:left;
}

.watched {
    text-decoration: none;
    font-family: untitled-font-1;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
    width: 50px;
    color: white;
    font-size: 50px;
    z-index: 1;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.watched:hover {
    color: #f08900;
    
}

.projectnaam {
    padding-left: 20px;
    font-size: 40px;
}



.projectnaam a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.projectnaam a:hover {
    color: #f08900;
    
}

.icons {
    font-family: untitled-font-1;
    float: right;
    padding-right: 20px;
    padding-left: 10px;
    border-left: 1px solid white;
    font-size: 40px;
}

.icons a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.icons a:hover {
    color: #f08900;
}


/* 
_____________
breadcrumbs
____________
*/

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

* {margin: 0; padding: 0;}

.breadcrumb {
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
}

.breadcrumb a {
    font-family: sans-serif;
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
    border-right: 2px solid rgb(57, 57, 57);
    border-top: 2px solid rgb(57, 57, 57);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/

.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
}
.flat a:hover, .flat a.activeBreadcrumb, 
.flat a:hover:after, .flat a.activeBreadcrumb:after{
	background: #f08900;
    color: white;
}









/* ________________

    PHEDRA
_________________*/

.formLine {
    clear: both;
    height: 20px;
    margin-left: 0;
    line-height: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

form {
    float: left;
    margin: 0 auto;
    background-color: rgb(57, 57, 57);
    padding: 20px;
    width: 30vw;
    color: #efefef;
    
}

form label{
    font-family: sans-serif;
    float:left; 
    text-align:right; 
    margin-right: 15px;

}

input {
    
    margin-bottom: 10px;
    
}

.form_project_toevoegen {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #ddd;
    z-index: 0;
}



.container_add {
    box-sizing: border-box;
    width: 35%;
    margin-left: 10%;
    margin-top: 50px;
/*    display: inline-block;*/
    float: left;
}

.container_add p{
    font-family: sans-serif;
    color: rgb(150,150,150);
}

.pageContent h3 {
    font-family: sans-serif;
    margin-top: 0;
}

.form_add {
    width: 100%;
    height: 320px;
    box-sizing: border-box;
}

.toevoegenButton {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #E40046;
    display: inline-block;
    
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.toevoegenButton:hover {
    background-color: #f08900;
}

.toevoegenButton>a{
    line-height: 40px;
    display: block;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}



.title_add {
    margin: 0;
    height: 40px;
    background-color: rgb(100, 100, 100);
    color: white;
    text-align: center;
    line-height: 40px;
}





.form_add input {
    float: right;
}

#formulier_add_fase1 {
    height: 280px;
}



.container_stat {
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    display: inline-block;
}

.statContainer {
    width: 100%;
    height: 320px;
    box-sizing: border-box;
    background-color: rgb(57, 57, 57);
    padding-top: 30px;
}

.statContainer>h3 {
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
}

.insideStatContainer {    
    background-color: rgb(100, 100, 100);
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.insideStatContainer::after{
    content: "";
    display: table;
    clear: both;
}

.insideStatContainer>div::after {
    content: "";
    display: table;
    clear: both;
}

.insideStatContainer>p {
    color: white;
    font-family: sans-serif;
    text-align-last: center;
    padding-top: 20px;
}

.insideStatContainer>div {
    border-bottom: 1px solid white;
    box-sizing: border-box;
}


.insideStatContainer>div>h4 {
    font-family: sans-serif;
    color: white;
    width: 50%;
    margin: 0;
}

.h4left {
    float: left;
}
.h4right {
    float: right;
    text-align: right;
}

.stemmingHeading {
    color: #f08900;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

.h4Left {
    float: left;
}

.stemmen {
    font-family: sans-serif;
    color: white;
    margin-top: 10px;
    width: 50%;
}

.leftStemmen {
    float: left;
    text-align: left;
}

.rightStemmen {
    float: right;
    text-align-last: right;
    
    
}

.statBar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #f08900;
    border: 0px;
}

.statBar>div{
    border: 0px;
    display: block;
    height: 100%;
    background-color: #e40046;
    width: 80%;
    z-index: 10;
}
